p{
    color: #FF6060;
}

.collapse-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 33px;
}

.about{
    min-width: 61vw;
    max-width: 73em;
    height: 47px;
}

.collapse{
    background: #FF6060;
    border-radius: 5px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border: 0;
}

.collapse h2{
    color: white;
    text-align: left;
    margin-left : 18px;
    font-size: 24px;
}

.collapse img {
    margin-right: 29px;
}


.information-cadre{
    padding: 36px 27px 19px 18px;
    background: #F7F7F7;
    border-radius: 5px 5px;
    max-width: 58vw;
}

.information-cadre h3{
    font-weight: 400;
}

.about-description{
    font-size: 24px;
}
@media all and (max-width: 750px){


    .about {
        min-width: 90vw;
        max-width: 73em;
    }
    .collapse img {
        margin-right: 10px;
    }
    
    .collapse p{
        margin-left : 11px;
        font-size: 13px;
    }

    .information-cadre{
        padding: 23px 6px 52px 12px;
        max-width: 88vw;
    }

    .information-cadre h3{
        font-size: 12px;
    }
}
