p{
    color: #FF6060;
}

.collapse-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 33px;
}

.about{
    width: 76vw;
    max-width: 1023px;
    height: 47px;
}

.collapse{
    background: #FF6060;
    border-radius: 5px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border: 0;
}

.collapse h2{
    color: white;
    text-align: left;
    margin-left : 18px;
    font-size: 24px;
}

.collapse img {
    margin-right: 29px;
}

.arrow-collapse {
    width: 23px;
}

.information-cadre{
    padding: 36px 27px 19px 18px;
    background: #F7F7F7;
    border-radius: 5px 5px;
    width: clamp(600px, 72.5vw, 978px);
    max-width: 1023px;
}



.about-description{
    font-size: 24px;
    font-weight: 400;
}


@media all and (max-width : 1200px) {
    .information-cadre{
        width: clamp(600px, 72vw, 997px);
    }
}

@media all and (max-width : 1000px) {
    .information-cadre{
        width: clamp(400px, 71vw, 712px);
    }
}

@media all and (max-width: 750px){

    .about {
        min-width: 90vw;
        max-width: 73em;
    }


    .collapse img {
        margin-right: 10px;
    }
    
    .collapse p{
        margin-left : 11px;
        font-size: 13px;
    }

    .information-cadre{
        padding: 23px 6px 52px 12px;
        max-width: 88vw;
        width: clamp(300px, 87vw, 712px);
    }
    
   .about-description{
        font-size: 16px;
    }

    .collapse h2{
        font-size: 18px;
    }
    
}


@media all and (max-width: 450px) {
    .about{
        height: 30px;
    }
   
    .arrow-collapse {
        width: 13px;
    }
    .collapse h2{
        font-size: 13px;
    }
    
    .about-description{
        font-size: 12px;
    }

    .information-cadre{   
       width: clamp(202px, min(83vw + 1em), 85vw);
    }
    
    
}

@media all and (max-width: 350px){
    .about {
        min-width: 88vw;
    }  
    
    .information-cadre {
        width: clamp(200px, min(79vw + 1em), 85vw);
    }
}