
.card-offer, .image-darken{
    width: 340px;
    height: 340px;
    border-radius: 10px;
  }


.card-offer{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%) #FF6060;
  position: relative;
}
  .image-darken{
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%) #FF6060;
    mix-blend-mode: darken;
    opacity: 0.3;
    bottom: 343px;
    z-index: 2;
  }

  .image-offer{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: auto;
    border-radius: 10px;

  }
  
  .description-offer{
    position: absolute;
    bottom: 0px;
    left: 0;
    margin: 0px 0px 0 20px;
    font-size: 18px;
    color: #FFFFFF;
    width: 48%;
    min-height: 100px;
    z-index: 3;
  }


  @media  all and (max-width: 800px) {
    .card-offer, .image-darken{
      width: 90vw;
      border: none;
    }

    .image-darken{
      bottom: 342px;
      height: 100%;
    }
    .offer-flex {
      gap: 20px 60px;
  }
 
  }

  @media all and (max-width: 450px) {
    .card-offer, .image-darken{
      height: 255px;
      width: 100%;
    }
    .image-darken{
      bottom: 257px;
    }
  }
  