.App {
  text-align: center;
}

// header en H1 ou garder pour le main?
header, main{
  margin: 0px 100px;
}

p, li, h1, h2, h3{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

li,a{
  font-size: 24px;
  color: #FF6060;
}
// Header

a{
  text-decoration: none;
}

.current-page{
  text-decoration: underline;
}

.header-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 40px 0px 63px 0px;
}

.header-list{
  display: flex;
  gap: 57px;
}



//Footer

footer{
  display: flex;
  background-color: black;
  height: 12em;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 29px;
  font-size: 24px;
  margin: 50px 0 0 0;
}

footer p{
  color: white;
}


@media all and (max-width: 1000px) {
  main, header{
    margin: 0px 20px;
  }
}
@media all and (max-width: 650px) {
  
  .header-flex{
   padding: 20px 0;
  }
  li,a{
    font-size: 12px;
  }
  
  .header-list{
    gap: 10px;

  }
  .header-flex img{
    width: 145px;
  }
  footer{
    margin: 25px 0 0 0;
  }
  footer p{
    font-size: 12px;
  }
}