.carrousel-slider .image-carrousel, .carrousel-slider {
    object-fit: cover;
}

.carrousel-slider{
    position: relative;
}

.image-carrousel{
    width: 100%;
    height: 20em;
    overflow: auto;
}


.arrow-slider{
    cursor: pointer;
    position: absolute;
    top: 45%;
    transform: translate(0, -50%);
    z-index: 1;
    background-color: transparent;
    padding: 0;
    border: 0;
}

#arrow-right{
    right: 23px;
}

#arrow-left{
    left: 23px;
}

.image-arrow-flex{
    display: flex;
}

.slider-number{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(0, -50%);
    color: white;
}